@tailwind base;
@tailwind components;
@tailwind utilities;


.container-top{
    padding-top: 65px;
    width: 100%;
    min-height: 100vh;
}
.navbar-top{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    .container-top{
        box-sizing: border-box;
        padding-top: 70px;
        width: 100%;
        min-height: 100vh;
    }
    /*.navbar-top{*/
    /*    position: fixed;*/
    /*    box-sizing: border-box;*/
    /*    width: 100%;*/

    /*}*/
}



